/*----------------------------------------------------


*  Author : Winnoventures  

=====================================================================*/

:root {
  --logi-gray: #797979;
  --logi-gray-rgb: 121, 121, 121;
  --logi-base: #ff494a;
  --logi-base-rgb: 255, 73, 74;
  --logi-black: #191c1e;
  --logi-black-rgb: 25, 28, 30;
  --logi-primary: #f3f3f3;
  --logi-primary-rgb: 243, 243, 243;

}